################################################################################
#                                                                              #
#                           Requirements for testing                           #
#    (If you need production dependencies, add them to the `setup.py` file)    #
#                                                                              #
################################################################################

flake8
jsonpath-ng
pytest
pytest-cov
pytest-runner
